{% extends 'FrontBundle::Default/layout.html.twig' %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <h1>Mot de passe oublié</h1>
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}