

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<style rel="stylesheet" href="css/style.css"></style>

<style>
    a, a:hover{

        text-decoration: none;
    }
    .no-padd{
        padding-left: 0;
        padding-right: 0;
    }
    div.part1{
        height: 540px;
        text-align: center;
        background:rgba(255, 255, 255, 0.45);
        margin-top: 50px;
    }
    input{
        max-width: 290px;
    }
    div.title{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 32px;
        margin-top: 100px;
    }
    div.login{
        margin-top: 40px;
    }
    div.btn{
        border: none;
        background-color: limegreen;
        border-radius: 20% / 50%;
        padding: 20px 40px;
        color: #fff;
        font-weight: bold;
    }
    div.input-email{
        margin-bottom: 20px;
    }
    div.mot_de_passe{
        margin-top: 50px;
    }
    div.button-connex{
        margin-top: 40px;
    }
    button{
        text-transform: uppercase;
        font-weight:700;
    }
    div.bg-img{
        height: 700px;
        background: orange;
        background-image: url(img/affiche01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;

    }
    input{
        width: 100%;}
    div.header{
        height: 80px;
        background: rgba(0, 0, 0, 0.36);
    }
    div.menu{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
    }
    @media (min-width: 992px) {

        .part-r {
            margin-top: 147px;;
        }
    }
</style>
<body>
<div class="container-fluid no-padd">
    <div class="bg-img">
        <div class="header">
            <div class="container">
                <div class="menu">eMotion</div>
                <div class="Links"><a href="home.html">Home</a></div>
                <div class="container part1 col-md-12">
                    <div class="col-md-6">
                        <div class="title">Inscription</div>
                        <div class="login">
                            <div class="input-email">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="input-email">
                                <input type="text" placeholder="Nom">
                            </div>
                            <div class="input-email">
                                <input type="text" placeholder="Prénom">
                            </div>

                            <div class="input-email">

                                <input type="text" placeholder="Email">
                            </div>
                            <div class="input-pwd col-md-12">
                                <input type="password" placeholder="Mot de passe">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6 part-r">

                        <div class="login">

                            <div class="input-email">
                                <input type="text" placeholder="Adresse">
                            </div>
                            <div class="input-email">
                                <input type="text" placeholder="Téléphone">
                            </div>
                            <div class="input-email">
                                <input type="text" placeholder="Date de naissance">
                            </div>
                            <div class="input-pwd col-md-12">
                                <input type="text" placeholder="Numéro de Licence">
                            </div>
                        </div>


                    </div>
                    <div>
                        <div class="button-connex">
                            <div class="btn">Inscription</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">

</div>


</body>
